.page
  .page__header
    .page__header__infos
      %h1.page__title Install Mint
      %p.page__description This page will guide you on how to install Mint on different platforms.

  .install__grid
    .install__section
      .install__title
        = render partial: 'icons/apple'
        %span Install on Mac OSX (or Linux)

      .install__instructions
        To easily install Mint on MacOSX or Linux you can use

        = succeed '.' do
          %a(href="http://brew.sh/" target="_blank" rel="noreferer") Homebrew

        %pre.install__snippet
          %code.plaintext
            \# For MacOSX, ensure XCode's CLT is installed to prevent building llvm from source
            xcode-select --install

            brew tap homebrew-community/alpha
            brew install mint-lang

    .install__section.install__section--with-margin
      .install__title
        = octicon "mark-github", height: 24
        %span Install from source

      .install__instructions
        %p
          To install Mint from source you will need to install the

          = succeed '.' do
            %a(href="https://crystal-lang.org/" target="_blank") Crystal programming language

        %p
          After installing Crystal just follow these commands:

        %pre.install__snippet
          %code.plaintext
            git clone https://github.com/mint-lang/mint.git
            cd mint
            shards install
            crystal build src/mint.cr -o mint -p --release --no-debug
            chmod +x ./mint
            sudo mv ./mint /usr/local/bin/mint

    .install__section
      .install__title
        = render partial: 'icons/linux'
        %span Install on Linux

      .install__instructions
        %p
          Since Mint is just a binary you can download the pre build binaries
          and use them.

        %pre.install__snippet
          %code.plaintext
            wget --no-verbose -O mint https://mint-lang.s3-eu-west-1.amazonaws.com/mint-latest-linux
            chmod +x ./mint
            sudo mv ./mint /usr/local/bin/mint

    .install__section.install__section--with-margin
      .install__title
        = render partial: 'icons/docker'
        %span Usage with Docker

      .install__instructions
        %p
          You can run mint using a docker container by using the
          %a(href="https://github.com/mint-lang/mint-docker")
            mint-docker
          repository.

        %p
          You will need to have
          %a(href="https://www.docker.com/") Docker
          and
          %a(href="https://docs.docker.com/compose/") Docker Compose
          installed.

        %pre.install__snippet
          %code.plaintext
            git clone https://github.com/mint-lang/mint-docker.git
            cd mint-docker
            docker-compose up
