%a{name: item['name']}
.entity
  .entity__signature
    %a.entity__name{href: "##{item['name']}"}
      %div= item['name']

    - if item['arguments'].to_a.any?
      = "("
      - item['arguments'].each do |argument|
        %div= argument['name']
        %div= ":"
        %div= argument['type']
      = ")"
    %div= ":"

    %div.entity__type
      = item['type']

    - if item['default']
      %div= "="

    - if item['default'] && item['default'].size < 50
      %div.entity__default= item['default']

  - if item['default'] && item['default'].size > 50
    %div.entity__default.entity__default--block= item['default']

  .entity__body
    != item['description']
