- name = item['name'] || item['key']

%a{name: name}
.entity
  .entity__signature<
    %a.entity__name{href: "##{name}"}
      %div= name || item['key']

    - if item['arguments'].to_a.any?
      %div.entity__operator= "("

      - item['arguments'].each do |argument|
        %div.entity__argument<
          = argument['name']
          %div.entity__operator= ":"
          %div.entity__type= argument['type']

      %div.entity__operator= ")"

    - if item['type']
      %div.entity__operator
        = ":"

      %div.entity__type
        = item['type']

    - if item['default']
      %div.entity__operator= "="

    - if item['default'] && item['default'].size < 50
      %div.entity__default= item['default']

  - if item['default'] && item['default'].size > 50
    %div.entity__default.entity__default--block= item['default']

  - if item['description']
    .entity__body
      != item['description']
