- package = @version.package
- set_meta_tags description: @version.description

.container
  .version
    .version__sidebar
      %input(data-id="version-search")

      %div
        - @items.to_a.each do |item|
          %div(data-id="version-item")
            = link_to item[:name],
                    repo_entity_path(package.author,
                                     package.repo,
                                     @version,
                                     item[:category],
                                     item[:name]),
                    class: 'version__entity'

            %div(data-id="version-entities" style="display: none")
              - item[:entities].each do |entity|
                %div(data-id="version-entity")
                  = link_to repo_entity_path(package.author,
                                           package.repo,
                                           @version,
                                           item[:category],
                                           item[:name],
                                           anchor: entity[:name]) do
                    &nbsp;&nbsp;
                    = entity[:type][0]
                    = entity[:name]

      .version__sidebar__title Versions
      - package.versions.each do |version|
        - if version == @version
          .version__tag.version__tag--active
            = version.version
        - elsif @entity
          = link_to version.version,
                    repo_entity_path(package.author,
                                     package.repo,
                                     version.version,
                                     @category,
                                     @entity),
                    class: 'version__tag'
        - else
          = link_to version.version,
                    repo_version_path(package.author, package.repo, version.version),
                    class: 'version__tag'

      .version__sidebar__title Basic information
      .version__infos
        %div
          - if @version == package.latest_version
            = link_to repo_root_path(package.author, package.repo) do
              %i.ion-clipboard
              README
          - else
            = link_to repo_version_path(package.author, package.repo, @version) do
              %i.ion-clipboard
              README

        %div
          = link_to "https://github.com/#{package.repository}/tree/#{@version.version}" do
            %i.ion-social-github
            Browse source on Github

      - if @version.dependencies.any?
        .version__sidebar__title Dependencies
        .version__dependencies
          - @version.dependencies.each do |repo, version|
            - if Package.find_by_repository(repo)
              - owner, name = repo.split('/')
              = link_to repo_root_path(owner, name), class: 'version__dependency' do
                %strong
                  = repo
                %span
                  = version['constraint']
            - else
              .version__dependency
                %strong
                  = repo
                %span
                  = version['constraint']

    .version__content
      - if @entity
        .version__docs
          %h1= @entity
          != body_html
      - else
        .version__readme
          .markdown-body
            != body_html
