- package = @version.package
- set_meta_tags description: @version.description

.page
  .guide.guide--wide
    .toc
      .page__package
        %strong= @version.name
        %p= @version.description

      .toc__section
        Search
      .input-search
        = octicon 'search'
        %input{ "data-id": "version-search", value: params[:search], placeholder: "Find entities... " }

      - if package.repository != 'mint-lang/core'
        .toc__section Basic information

        .toc__pages
          - if @version == package.latest_version
            = link_to repo_root_path(package.author, package.repo), class: "toc__page" do
              %div
                = octicon "book"
                README
          - else
            = link_to repo_version_path(package.author, package.repo, @version), class: "toc__page" do
              %div
                = octicon "book"
                README

          = link_to "https://github.com/#{package.repository}/tree/#{@version.version}", class: "toc__page" do
            %div
              = octicon "mark-github"
              Source on Github

      .toc__section
        Entities

      .toc__pages#sidebar
        = render partial: 'sidebar'

      - if package.repository != 'mint-lang/core'
        .toc__section Versions

        .toc__pages
          - package.versions.each do |version|
            - if @entity
              = active_link_to version.version,
                        repo_entity_path(package.author,
                                         package.repo,
                                         version.version,
                                         @category,
                                         @entity),
                        class: 'toc__page'
            - else
              = active_link_to version.version,
                        repo_version_path(package.author, package.repo, version.version),
                        class: 'toc__page'

      - if @version.dependencies.any?
        .toc__section Dependencies
        .version__dependencies
          - @version.dependencies.each do |repo, version|
            - if Package.find_by_repository(repo)
              - owner, name = repo.split('/')
              = link_to repo_root_path(owner, name), class: 'version__dependency' do
                %strong
                  = repo
                %span
                  = version['constraint']
            - else
              .version__dependency
                %strong
                  = repo
                %span
                  = version['constraint']

    .guide-content
      - if @entity
        %h1= @entity

      != body_html
