.toc
  .toc__section
    Getting Started

  .toc__pages
    = active_link_to "Tools", "/guide/getting-started/tools", class: :toc__page, active: :exact
    = active_link_to "Using the CLI", "/guide/getting-started/using-the-cli", class: :toc__page, active: :exact
    = active_link_to "Configuration", "/guide/getting-started/configuration", class: :toc__page, active: :exact
    = active_link_to "The Main Component", "/guide/getting-started/the-main-component", class: :toc__page, active: :exact
    = active_link_to "Styling with CSS", "/guide/getting-started/styling-with-css", class: :toc__page, active: :exact
    = active_link_to "Handling Events", "/guide/getting-started/handling-events", class: :toc__page, active: :exact

  .toc__section
    Reference

  .toc__pages
    = active_link_to "Literals", "/guide/reference/literals", class: :toc__page, active: :exact
    = active_link_to "Components", "/guide/reference/components", class: :toc__page, active: :exact

    .toc__pages
      = active_link_to "Properties", "/guide/reference/components/properties", class: :toc__page, active: :exact
