.footer
  .footer__content
    .footer__infos
      = render partial: 'shared/logo', locals: { size: 25 }

      %p
        Mint aims to deliver developer happiness and productivity by offering a
        set of tools like build tool, code formatter, documentation generator,
        playground and package manager.

      %span
        Copyright © #{Time.now.year} Mint. All rights reserved.

    .footer__columns
      .footer__column
        %strong Site

        = link_to root_path do
          = octicon 'home'
          Home

        = link_to ENV['SANDBOX_URL'] do
          = octicon 'terminal'
          Try

        = link_to install_path do
          = octicon 'cloud-download'
          Install

        = link_to guide_path do
          = octicon 'book'
          Learn

        = link_to packages_path do
          = octicon 'archive'
          Packages

      .footer__column
        %strong Source

        = link_to '/api' do
          = octicon "repo"
          API

        %a(href="https://github.com/mint-lang/mint" target="_blank")
          = octicon 'mark-github'
          GitHub

        %a(href="https://github.com/mint-lang/mint/releases" target="_blank")
          = octicon 'tag'
          Releases

      .footer__column
        %strong Community

        %a(href="https://gitter.im/mint-lang/Lobby" target="_blank")
          = render partial: 'icons/gitter'
          Gitter

        %a(href="https://discord.gg/NXFUJs2" target="_blank")
          = render partial: 'icons/discord'
          Discord

      .footer__column
        %strong Social

        = link_to blog_path do
          = octicon 'bookmark'
          Blog

        %a(href="https://twitter.com/mint_lang" target="_blank")
          = render partial: 'icons/twitter'
          Twitter
