!!!
%html(lang="en")
  %head
    = display_meta_tags site: 'Mint',
                        keywords: %w(mint mint-lang packages),
                        description: 'The programming language for writing single page applications.',
                        canonical: request.path,
                        charset: 'utf-8',
                        author: 'Gusztáv Szikszai',
                        separator: '/',
                        og: { title: :title,
                              site_name: :site }

    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'

    - if Rails.env.production?
      %script(defer data-domain="mint-lang.com" src="https://plausible.io/js/plausible.js")

    %meta{ content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0',
           name: 'viewport' }

    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Code+Pro:400,600|M+PLUS+Rounded+1c:500,700&display=swap'
    = stylesheet_link_tag 'application', media: 'all'

    = stylesheet_link_tag '//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.1.0/build/styles/atom-one-dark.min.css'

  %body
    .mobile-menu
      .mobile-menu__close
        = octicon "x", width: 24

      = link_to ENV['SANDBOX_URL'],
                class: 'mobile-menu__item',
                target: '_blank',
                active: :exact do
        = octicon "terminal"
        %span Try

      = active_link_to install_path,
                class: 'mobile-menu__item',
                active: :exact do
        = octicon "cloud-download"
        %span Install

      = active_link_to guide_path, class: 'mobile-menu__item' do
        = octicon "book"
        %span Learn

      = active_link_to blog_path, class: 'mobile-menu__item' do
        = octicon "bookmark"
        %span Blog

      = active_link_to '/api', class: 'mobile-menu__item' do
        = octicon "repo"
        %span API

      = active_link_to packages_path, class: 'mobile-menu__item' do
        = octicon "archive"
        %span Packages

      = link_to 'https://github.com/mint-lang/mint',
                class: 'mobile-menu__item',
                target: '_blank',
                active: :exact do
        = octicon "mark-github"
        %span GitHub

    .nav
      .nav__wrapper
        = link_to root_path, class: :nav__brand do
          = render partial: 'shared/logo', locals: { size: 20 }

        .nav__mobile-menu-toggle
          %span Menu
          = render partial: 'icons/menu'

        = link_to ENV['SANDBOX_URL'],
                  class: :nav__item,
                  target: '_blank',
                  active: :exact do
          = octicon "terminal"
          %span Try

        = active_link_to install_path,
                  class: :nav__item,
                  active: :exact do
          = octicon "cloud-download"
          %span Install

        = active_link_to guide_path, class: :nav__item do
          = octicon "book"
          %span Learn

        = active_link_to blog_path, class: :nav__item do
          = octicon "bookmark"
          %span Blog

        = active_link_to '/api', class: :nav__item do
          = octicon "repo"
          %span API

        = active_link_to packages_path, class: :nav__item do
          = octicon "archive"
          %span Packages

        = link_to 'https://github.com/mint-lang/mint',
                  class: :nav__item,
                  target: '_blank',
                  active: :exact do
          = octicon "mark-github"
          %span GitHub

    %article
      = yield

    = render partial: 'layouts/footer'

    = javascript_include_tag 'application'

    = javascript_include_tag '//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.1.0/build/highlight.min.js'
    = javascript_include_tag '//cdn.jsdelivr.net/gh/mint-lang/highlightjs-mint/dist/mint.min.js'

    :javascript
      hljs.configure({ languages: ['mint'] })
      hljs.highlightAll();

    :javascript
      navigator.serviceWorker.getRegistrations().then(function(registrations) {
        for(let registration of registrations) {
          registration.unregister()
        }
      })
